.disable-siblings-animation ~ div {
  transform: none !important;
}

.container {
  margin-bottom: var(--space-lg);
  padding: var(--space-sm);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
}

.dragging {
  opacity: var(--dragging-opacity);
}

.disabled-opacity {
  opacity: var(--disabled-opacity);
}

.runtime.container {
  box-shadow: none;
}
