.container {
  margin: 40px auto;
  width: 540px;
}

.drag-drop-container {
  display: flex;
  justify-content: space-between;
  height: 480px;
}

.toggle-runtime-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
