.container {
  flex: 0 0 240px;
  border-radius: var(--border-radius-md);
}

.empty {
  border: 2px dashed #C4C4C4;
}

.dragging-over {
  background-color: var(--color-iris-50);
}

.empty-placeholder {
  margin-top: 60%;
  text-align: center;
}

.colored-text {
  font-size: 14px;
  color: var(--color-iris-100);
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
  font-weight: 500;
  line-height: 17px;
}

.text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  white-space: pre-line;
  color: #6B7280;
}
