.container {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 52px;
  height: 48px;
  margin-right: var(--space-md);
}

.button:last-child {
  margin-right: 0;
}
